<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorate="~{tasks/layout-main}">
<head>
	
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
	<title>Página Principal</title>
	
	<!-- Bootstrap core CSS -->
    <link th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    
</head>
	
	<body>
		
		OIOIOIOIOIOIOI
		
		
		LKLK:L:LK:LK:LK
		
		
		
		<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
		
	</body>
</html>
