<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="templates/layout">
	  
<head>

    <title>Pagina Inicial</title>
    <meta name="description" content="Pagina Principal"/>
    
</head>
<body>

	<div layout:fragment="content" id="content">
	
		<form id="signin" th:action="@{/signin/authenticate}" method="post">
			
			<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
			
			<div class="formInfo">
		  		
		  		<div class="error" th:if="${param.error eq 'bad_credentials'}">
		  			Your sign in information was incorrect.
		  			Please try again or <a th:href="@{/signup}">sign up</a>.
		  		</div>
		  		<div class="error" th:if="${param.error eq 'multiple_users'}">
		  			Multiple local accounts are connected to the provider account.
		  			Try again with a different provider or with your username and password.
		  		</div>
		  		
			</div>
			
			<fieldset class="loginForm">
				<label for="login">Username</label>
				<input id="login" name="username" type="text" size="25"></input><br/>
				<label for="password">Password</label>
				<input id="password" name="password" type="password" size="25"></input>
				<br/><br/>
				<button type="submit" class="btn btn-form">Sign In</button>
			</fieldset><br/>

			<p>Or you can <a th:href="@{/signup}">signup</a> with a new account.</p>
		
		</form>
	    
	</div>

</body>
</html>