<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="templates/layout">
	<head>
		<title>Spring Social Showcase</title>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
	      <div class="jumbotron">
	      	<img th:src="@{/project-icon-large.png}" style="float:right;opacity:0.15;"/>
	      	
	      	<div class="project-title">
	      	Spring Social Samples
	      	</div>
	      	
	        <h1>Sign In</h1>

			<form id="signin" th:action="@{/signin/authenticate}" method="post">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<div class="formInfo">
			  		<div class="error" th:if="${param.error eq 'bad_credentials'}">
			  			Your sign in information was incorrect.
			  			Please try again or <a th:href="@{/signup}">sign up</a>.
			  		</div>
			  		<div class="error" th:if="${param.error eq 'multiple_users'}">
			  			Multiple local accounts are connected to the provider account.
			  			Try again with a different provider or with your username and password.
			  		</div>
				</div>
				<fieldset class="loginForm">
					<label for="login">Username</label>
					<input id="login" name="username" type="text" size="25"></input><br/>
					<label for="password">Password</label>
					<input id="password" name="password" type="password" size="25"></input>
					<br/><br/>
					<button type="submit" class="btn btn-form">Sign In</button>
				</fieldset><br/>
				
				<p>Some test user/password pairs you may use are:</p>
				<ul>
					<li>habuma/tacos</li>
					<li>rclarkson/atlanta</li>
				</ul>
				
				<p>Or you can <a th:href="@{/signup}">signup</a> with a new account.</p>
			</form>

			<!-- TWITTER SIGNIN -->
			<form id="tw_signin" th:action="@{/signin/twitter}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<button type="submit"><img th:src="@{/social/twitter/sign-in-with-twitter-d.png}"></img></button>
			</form>
		
			<!-- FACEBOOK SIGNIN -->
			<form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<input type="hidden" name="scope" value="read_stream,user_posts,user_photos"></input>
				<button type="submit"><img th:src="@{/social/facebook/sign-in-with-facebook.png}"></img></button>
			</form>
	      </div>
		</div>	
	</body>
</html>
