<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Spring Social Showcase</title>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="content" layout:fragment="content">
			<h3>Your linkedin Profile</h3>
			

			<dl>
				<dt>linkedin ID:</dt>
				<dd th:text="${profile.id}">profile id</dd>
				<dt>nome</dt>
				<dd th:text="${profile.firstName}"></dd>
				<dt>email link</dt>
				<dd th:text="${profile.emailAddress}"></dd>
			</dl>
			
		</div>
	</body>
</html>

