<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Spring Social Showcase</title>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="content" layout:fragment="content">
			<h3>Connect to Facebook</h3>
			
			<form th:action="@{/connect/facebook}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
+				<input type="hidden" name="scope" value="public_profile,email,user_about_me,user_birthday,user_location,user_posts,user_photos,publish_actions" />
				
				<div class="formInfo">
					<p>You aren't connected to Facebook yet. Click the button to connect Spring Social Showcase with your Facebook account.</p>
				</div>
				<p><button type="submit"><img th:src="@{/social/facebook/connect_light_medium_short.gif}"/></button></p>
				<label for="postToWall"><input id="postToWall" type="checkbox" name="postToWall" /> Tell your friends about Spring Social Showcase on your Facebook wall</label>
			</form>
		</div>		
	</body>
</html>
