body {
    background-color: #f5f8fa;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #14171a;
}

.page-profile .page-header {
    z-index: 0;
    margin-top: 0px;
    padding-bottom: 10px;
    margin: 0px;
    border-bottom: 0px;
}

.navbar-brand{
    padding-top: 5px;
    border-top-width: 5px;
}

.page-profile .page-header .wrapper-navbar .navbar {
    z-index: 0;
    margin-bottom: 0px;
    background-color: #ffffff;
}

.page-profile .page-header .wrapper-navbar .navbar .navbar-default {
    z-index: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.page-profile .page-header .user-img-fundo {
    background-image: url('fundo.jpg');
    height: 270px;
    z-index: 0;
}

.page-profile .page-header .user-info {
    background-color: #ffffff;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.page-profile .page-header .user-info .container-botao-nova-bondade{
    float: right;
    margin-top: 7px;
    margin-right: 7px;
}

.page-profile .page-header .user-img-perfil img {
    height: 170px;
    width: 170px;
    margin-top: -180px;
    margin-left: 20px;
    z-index: 0;
    position: absolute;
}

.page_body .user-detail .user-name{
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    margin-right: 2px;
    word-wrap: break-word;
    color:#0084b4;
}

.page_body .user-atvs{
	border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    display: block;
    background-color: #d9edf7;
    border: 1px solid #e6ecf0;
    /* padding: 5px; */
    font-size: 12px;
    color: rgba(20, 23, 26, 0.63);
    font-weight: 700;
    padding: 4px;
}
.page_body .user-history {
    display: block;    
    background-color: #fff;
    border: 1px solid #e6ecf0;
    min-height: 100px;
    margin-top:0px;
    padding:5px;
}