.app_topnavbar-wrapper .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 46px;
}

.page-profile .page-header .wrapper-navbar .navbar {
    z-index: 0;
    margin-bottom: 0px;
}
