<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    
    <title layout:title-pattern="Boas Ações - $CONTENT_TITLE"></title>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Victor Sarrasqueiro"/>
    
	<link th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/estilo.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/estilo-menu-topo.css}" rel="stylesheet"/>
    
</head>

<body>

	<div class="container-fluid">
	    
	    <div layout:fragment="header"  id="layout-fragment-header"></div>
	
	    <div layout:fragment="content" id="layout-fragment-content"></div>
	    
	    <div layout:fragment="footer"  id="layout-fragment-footer"></div>
	
	</div>

	<script th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

</body>
</html>